.App{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
h1{
    margin-bottom: 20px;
}
input{
    padding: 5px;
    margin: 10px;
}
button{
    padding: 5px 10px;
    margin: 10px;
}
.results{
    margin: 20px;
}